.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 0 2rem 1rem 2rem;
  background: linear-gradient(180deg, #111b36 40%, #f4f4f4 40%);
}

.homeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  padding: 0 2rem 0 2rem;
}

.chatHistoryContainer {
  
}

.chatContainer {
  flex: auto;
}

.notificationHistoryContainer {

}
